In [5]:
import pandas as pd

# One way to do it

url = pd.read_html('https://webpages.charlotte.edu/mscipion/')[0]

url

  Student Favourite Computer Language  Years of Experience
0    Fred                      Kotlin                    4
1   Paula                      Python                    2
2   Ernst                        Java                    7
3  Isabel                         C++                    3
4    Tony                       Pearl                    7
5   Maria                       Cobol                   15

In [17]:
import requests
from bs4 import BeautifulSoup

# Another more brute force way to do it

sec = 'https://webpages.charlotte.edu/mscipion/'

response = requests.get(sec)

soup = BeautifulSoup(response.text, 'html.parser')

data = []

table = soup.find('table')
rows = table.find_all('tr')
headers = [th.text.strip() for th in rows[0].find_all('th')]

for row in rows[1:]:
    data.append([td.text.strip() for td in row.find_all('td')])

df = pd.DataFrame(data, columns = headers)
df

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15